@import '../common/color.scss';

.common_header {
  display: flex;
  justify-content: space-between;
}

.choice_menu_content {
  display: flex;
  justify-content: space-between;
}

.choice_menu {
  width: 40%;
  height: 80%;
  overflow-y: auto;
}

.choice_menu_item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;

  font-size: larger;
  font-weight: bolder;

  margin-bottom: 5px;
  border: 1px solid $navy;
  border-radius: 4px;
  padding: 10px;

  cursor: pointer;

  &:hover {
    background-color: $darkNavy;
    color: $white;
  }
}

// #region <Dashboard/>
.order_card_row {
  display: flex; 
  flex-wrap: nowrap;
  overflow-x: auto;
}
// #endregion


// #region <OrderItem/>
#orderItemCard{
  flex : 0 0 auto;
  margin-bottom: 5px;
  margin-right: 10px;
  border-color: $darkNavy;
}
// #endregion

// #region <MenuInfo/>
.menu_info {
  width: 50%;
}

.menu_info_item {
  width: 100%;
}

.menu_info_title {
  font-size: xx-large;
  font-weight: bolder;
}

.menu_info_price {
  font-size: large;
  margin-bottom: 30px;
}
//#endregion

//#region <OrderDetailItem/>
.order_detail_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  // width: 100%;

  font-weight: bolder;
}

.order_detail_item_menu_avatar {
  display: flex;
  align-items: center;
  flex: 4;
}

.order_detail_item_menu_title {
  flex: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//#endregion


//#region <OrderInfo/>
#orderInfoList {
  height: 365px;
  overflow-y: auto;
  padding: 0 10px;
}
//#endregion