/* Color Theme Swatches in Hex */
$darkNavy: #242d40;
$navy: #364659;
$beige: #f2e9d8;
$salmon: #f2bb77;
// $brown: #733d0e;
$white: #fff;

/* Color Theme Swatches in Hex */
$red: #8d1019;
$sanga: #f2f0cf;
// $navy: #001f46;
$brown: #561a25;
$wood: #886a2e;
