@import './color.scss';

.common_button {
  background-color: $white;
  color: $navy;
  border-color: $navy;

  &:hover,
  &:active {
    color: $white;
    background-color: $navy;
    border-color: $navy;
  }

  &:focus {
    background-color: $white;
    color: $navy;
    border-color: $navy;
  }
}

.common_button_primary {
  background-color: $navy;
  color: $beige;
  border-color: $navy;

  &:hover,
  &:active {
    color: $navy;
    border-color: $navy;
  }

  &:focus {
    background-color: $navy;
    color: $beige;
    border-color: $navy;
  }
}

.common_button_danger {
  background-color: $white;
  color: $red;
  border-color: $red;

  &:hover,
  &:active {
    color: $white;
    border-color: $red;
    background-color: $red;
  }
  &:focus {
    background-color: $white;
    color: $red;
    border-color: $red;
  }
}

.common_button_danger_primary {
  background-color: $red;
  color: $white;
  border-color: $red;

  &:hover,
  &:active {
    color: $red;
    border-color: $red;
  }
  &:focus {
    background-color: $red;
    color: $white;
    border-color: $red;
  }
}
